<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TeTwix: Guide</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/guide.css" />
</head>
<body>
    <div id="guide-wrapper">
        <header>
            <img src="/images/tetwix-logo-wide.png">
            <p>GUIDE</p>
        </header>
        <div id="content-wrapper">
            <section> Welcome to the TeTwix Guide section. Here you can find details about game-play and
            interactions that are possible.</section>
            <section>TeTwix is a collaborative Tetris game where two players work together in order to have fun
            and score as much possible until the game board limit is reached. Each player is responsible of controlling
                one falling piece and place it in the most convenient place on the game board.</section>
            <section>TeTwix uses a total number of 7 pieces and one power-up. Players must use these pieces to complete
                the bottom line in order to accumulate points.
            The pieces can be rotate clock-wise, moved left and right and forced down using either of the devices that
                we will present in letter sections. The bomb power up destroys everything on a one square radius
                helping the players correct previous mistakes. </section>
            <div id="pieces-wrapper">
                <img src="/images/pieces/i-piece.png" class="game-pieces">
                <img src="/images/pieces/o-piece.png" class="game-pieces">
                <img src="/images/pieces/s-piece.png" class="game-pieces">
                <img src="/images/pieces/z-piece.png" class="game-pieces">
                <img src="/images/pieces/j-piece.png" class="game-pieces">
                <img src="/images/pieces/l-piece.png" class="game-pieces">
                <img src="/images/pieces/t-piece.png" class="game-pieces">
                <img src="/images/pieces/bomb-piece.png" class="game-pieces">
            </div>
            <section>In order to start a new game, use your mouse and click the
                <span id="start-game-button-span">START GAME</span> button from the first page.</section>
            <img id="start-hint" src="/images/tetwix-start-hint.png">
            <section>After starting the game you will be presented with the game area that is divided into two major
            section: the Control Area and the Game Board Area.</section>
            <img src="/images/tetwix-areas.png">
            <nav>
                <a href="#">Keyboard</a>
                <a href="#">LEAP Motion</a>
                <a href="#">MaKey MaKey Controller</a>
                <a href="#">MaKey MaKey Foot Pads</a>
            </nav>
            <br/>
            <section>
            </section>
        </div>

    </div>
</body>
</html>