<!DOCTYPE html>
<html>
<head>
    <title>TeTwix</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/startscreen.css" />
</head>
<body>
    <div id="start-screen">
        <div id="logo-wrapper">
            <img src="/images/tetwix-logo-500.png">
        </div>
        <div id="buttons-wrapper">
            <div id="campaign" class="startscreen-button">
                <p>CAMPAIGN</p>
            </div>
        </div>
    </div>
    <div id="game-wrapper">
        <div id="overlay">
            <div id="menu">
                <div id="buttons">
                    <div id="start" class="menu-button" title="Start Page"></div>
                    <div id="settings" class="menu-button" title="Settings"></div>
                    <div id="control" class="menu-button pause" title="Pause"></div>
                    <div id="restart" class="menu-button" title="Restart"></div>
                </div>
            </div>
            <p id="score">0</p>
        </div>
        <canvas id="gameboard"></canvas>
        <div id="game-over">
            <p>Game Over</p>
            <div id="share-score">
                <div id="fb-icon"></div>
                <div id="share-score-text">
                    <p>Share on Facebook</p>
                </div>
            </div>
        </div>
    </div>
    <div id="debugging"></div>
    <!--
        <menu>Menu</menu>
        <button onclick="game.controls.pause()" >Pause</button>
        <button onclick="game.controls.resume()" >Resume </button>
        <button onclick="game.controls.share()">Share score on Facebook</button>
        <button onclick="game.controls.end()">End</button>

        <div id="scoreDebug">Scor--</div>
        -->


    <script src="/javascripts/libs/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/debugging.js"></script>
    <script src="/javascripts/pieces.js"></script>
    <script src="/javascripts/point.js"></script>
    <script src="/javascripts/player.js"></script>
    <script src="/javascripts/piece-controller.js"></script>
    <script src="/javascripts/cell.js"></script>
    <script src="/javascripts/game.js"></script>
    <script src="https://js.leapmotion.com/leap-0.5.0.js"></script>
    <script src="/javascripts/libs/curtsy.js"></script>
    <script src="/javascripts/leap-controls.js"></script>
    <script src="/javascripts/keyboard-controls.js"></script>
    <script src="/javascripts/gamepad-controls.js"></script>
    <script src="/javascripts/facebook-score-sharing.js"></script>
    <script src="/javascripts/init.js"></script>

</body>
</html>