/*body {*/
    /*background-color: rgb(35, 113, 159);*/
/*}*/

@font-face
{
    font-family: PixelLCD;
    src: url("fonts/Pixel-LCD-7.ttf");
}

#gameboard {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 98%;
    width: 98%;
    display: block;
    border: solid 2px #888888;
}
#game-wrapper {
    position: relative;
}

#overlay {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 78.4%;
    height: 19.7%;
    z-index: 10;
    margin-left: 10.8%;
    background-color: #fafafa;
    margin-top: 0.15%;
}
#game-over {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 79.7%;
    z-index: 10;
    margin-top: 9.9%;
    margin-left: 1%;
    background-color:  rgba(0,0,0,0.2); /*dim the background*/
}
#game-over p {
    display: block;
    font-family: PixelLCD;
    margin: 15% 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20vh;
    color: darkred;
}

#share-score {
    display: block;
    width: 30%;
    height: 8%;
    margin: 0 auto;
}
#share-score:hover {
    cursor: pointer;
}

#share-score-text {
    display: block;
    width: 90%;
    margin-left: 10%;
    padding-left: 5%;
}

#share-score p {
    color: #ffffff;
    font-size: 3vh;
    text-align: left;
    padding-top: 2.5%;
}

#fb-icon {
    height: 100%;
    width: 10%;
    float: left;
    background: url("images/facebook-8bit.png") no-repeat center;
    background-size: 100%;
}

.fb-hover {
    color: #29ABE2 !important;
}

#menu {
    width: 100%;
    height: 50%;
    margin-top: 0.5%;
}
#buttons {
    margin: 0 auto;
    width: 25%;
    height: 100%;
    padding-left: 6.25%;
}

.menu-button {
    float: left;
    margin: 0 1%;
    width: 23%;
    height: 94%;
    background: lightgray;

}

.menu-button:hover {
    background: gray;
    cursor: pointer;
}

#score {
    font-family: PixelLCD;
    margin: 0 auto;
    text-align: center;
    font-size: 8vh;
}

#start {
    background-image: url("images/start-page.png");
    background-size: 100%;
}
#settings {
    background-image: url("images/settings.png");
    background-size: 100%;
}
#control {

    background-size: 100%;
}
.play {
    background-image: url("images/play.png");
}
.pause {
    background-image: url("images/pause.png");
}
.play:hover {
    background: gray url("images/play.png");
}
.pause:hover {
    background: gray url("images/pause.png");
}
#restart {
    background-image: url("images/restart.png");
    background-size: 100%;
}

