#gameboard {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 98%;
    width: 98%;
    display: block;
    border: solid 2px #888888;
}

menu {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
