#logo-wrapper img {
    margin: 0 auto;
    display: block;
}

#buttons-wrapper {
    display: block;
    margin: 0 auto;
    width: 410px;
    height: 30px;
}

#buttons-wrapper p {
    font-family: "Gautami";
    font-weight: bold;
    text-align: center;
    line-height: 0.5em;
}
#campaign {
    height: 30px;
    width: 200px;
    background: #FFC42A;
    border: 1px black solid;
    float: left;
}

#help {
    height: 30px;
    width: 200px;
    background: #29ABE2;
    border: 1px black solid;
    float: right;
}

.startscreen-button {
    margin: 0 auto;
}

.startscreen-button:hover {
    background: lightgray !important;
    cursor: pointer;
}